@charset "utf-8";

#main span {
  font-size: 12px;
  padding-left: 10px;
  background-position: left center;
  background-repeat: no-repeat;
}

#main span.diff-open { background-image: url(/images/spindown-open.gif); }
#main span.diff-closed { background-image: url(/images/spindown-closed.gif); }

#main .diff-content {
   border: 1px solid black;
   margin: 5px;
   padding: 5px;
}

#main .diff-content a {
   font-size: 12px;
   padding-left: 0px;
   background-position: left center;
   background-repeat: no-repeat;
   color: royal blue2;
}
